.carolsel-box {
    position: relative;
}

.carolsel {
    width: 40%;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 60px 40px rgba(18, 2, 47, 0.1);
    border-radius: 20px;
    position: absolute;
    left: 50px;
    z-index: 990;
    top: 0;
}

.carolsel-dot {
    display: flex;
    justify-content: center;
}

.carolsel-dot__item {
    width: 40px;
    height: 5px;
    background: #E7E5EA;
    border-radius: 20px;
    cursor: pointer;
}

.carolsel-dot__item--active {
    background: #4F77FF;
}

@media screen and (max-width: 1100px) {
    .carolsel {
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    .carolsel {
        padding: 40px 20px;
        width: 95%;
        top: 0;
        left: 50%;
        transform: translateX(-50%)
    }
}