.blog__content {
    padding: 30px;
}

.blog__text {
    color: $text-color-default;
    margin: 15px auto;
}

.blog__img {
    border-radius: 5px;
    margin: 30px auto;
}

.blog__text--black {
    color: black;
}

.blog__line-break {
    display: block;
    padding-top: 30px;
}

.blog__quote {
    background-color: #F8FAFC;
    border-radius: 5px;
    padding: 30px 55px;
    margin: 30px auto;
}

@media screen and (max-width:600px) {
    .blog__content {
        padding: 15px 10px;
    }
    .blog__quote {
        padding: 30px 20px;
    }
}