.button {
    border: 0;
    padding: 13px 24px 13px 24px;
    align-items: center;
    border-radius: 5px;
    color: #7B88A8;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.242);
    }
}

.button--blue {
    background: #4F77FF;
    color: #fff;
}