.button {
    --radius: 5px;
    border: 0;
    padding: 13px 24px 13px 24px;
    text-align: center;
    align-items: center;
    border-radius: var(--radius);
    color: #7B88A8;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        box-shadow: $box-shadow-hover;
        transition: 500ms;
    }
}
.button--lg{
    padding: 18px 32px;
}
.button--custom {
    --bg: #fff;
    --color: #fff;
    --pd: 13px 24px 13px 24px;
    background-color: var(--bg);
    color: var(--color);
    padding: var(--pd);
}

.button--blue {
    background: #4F77FF;
    color: #fff;
}