.card {
    --padding: 40px;
    --radius: 12px;
    --border: #E7E5EA;
    padding: var(--padding);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    text-align: center;
    margin-bottom: 20px;
    min-height: 370px;
    position: relative;
}

.card--start {
    text-align: start;
}

.card__img-flex {
    position: absolute;
}

.card__img-flex--bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.card__reply {
    --color: #4F77FF;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color);
}

.card__content {
    padding: 25px 40px;
}

.card--hover {
    cursor: pointer;
    &:hover {
        box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
    }
}

.card--start {
    text-align: left;
}

.card--bg {
    --bg: #fff;
    background-color: var(--bg);
}

.card--bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.card__subtitle {
    opacity: 0.8;
}

.card__star {
    text-align: center;
}

.card__star--active {
    color: #FFC200;
}

@media screen and (max-width: 700px) {
    .card {
        --padding: 15px;
        padding: var(--padding);
    }
    .card__content {
        padding: 25px 20px;
    }
}