.feature {

    padding: 0px 30px;
    padding-top: 50px;
}
.feature__img{
    border-radius: 20px;
}
.feature__text-box {
    position: relative;
}

.feature__price {
    position: absolute;
    top: 16px;
    right: 0;
    padding-top: 0;
}

.feature__right {
    padding: 30px;
}
.feature__text--highlight{
    display: inline-block;
    color: #886CFF;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .feature {
        padding: 0px;
    }
    .feature__left {
        padding-left: 0;
    }
    .feature__price {
        position: static;
        top: auto;
        right: auto;
    }
}