.header {
    min-height: 500px;
}

.header__menu-mobile {
    display: none;
}

@media screen and (max-width:950px) {
    .header__menu-mobile {
        display: block;
    }
    .header__right-nav {
        display: none;
    }
    .header__nav {
        display: none;
    }
    .header {
        min-height: 350px;
    }
}