.icon {
    --size: 70px;
    --bg: #fff;
    --color: #fff;
    --border: #fff;
    --fs: 20px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    padding: var(--pd);
    text-align: center;
    font-size: var(--fs);
    line-height: var(--size);
    border: 1px solid var(--border);
    color: var(--color);
    background-color: var(--bg);
    overflow: hidden;
}

.icon--hover {
    cursor: pointer;
    &:hover {
        box-shadow: $box-shadow-hover;
    }
}