.location__name {
    padding-top: 30px;
    padding-bottom: 50px;
}

.location {
    padding: 30px;
}

@media screen and (max-width: 500px) {
    .location__name {
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .location {
        padding: 0px 10px;
    }
}