.location__name {
    margin-top: 30px;
    margin-bottom: 50px;
}

.location {
    padding: 0px 30px;
}

@media screen and (max-width: 500px) {
    .location__name {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .location {
        padding: 0px 10px;
    }
}