.logo {
    display: flex;
    align-items: center;
    width: auto;
}
.logo__img{
    max-height: 50px;
}
.logo__name {
    font-size: 24px;
    font-weight: bold;
    color: #2D3958;
}

.logo__name--white {
    color: #fff;
}