.section-page {
    width: 100%;
    position: relative;
}

.page-section-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
}

.page-section-bg--radius {
    --radius: 20px;
    border-radius: var(--radius);
}